.welcome
{
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    background: rgba(0,0,255,0.5);
    width: 400px;
    height: 200px;
}
.welcome h2
{
    text-align: center;
    font-family: Microsoft Sans Serif;
    color: white;
}
.welcome .welcomeInside
{
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    font-family: Segoe UI Symbol;
}
.welcome .butt00005
{
    background:  rgba(0, 255, 35, 0.8);
    border: none;
    color: #fff;
    margin-top:10px;
    font-size: 16px;
    font-family: Segoe UI Symbol;
    //background: black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 80px;
}
